.flex{
    display:flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color:black;
    color:white;
}

.invert{
    filter: invert(1);
}
.bg-grey{
    background-color:#121212;
}
.rounded{
    border-radius:7px ;
}
.mar-1{
    margin: 5px;
}
.pad-1{
    padding:10px;
}
.transparent{
    background-color: transparent;
    color:#000000;
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #121212; /* Dark background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666; /* Lighter color for the scrollbar handle */
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; /* Lighter color when hovered over */
}
